{% include 'dftSiteBundle:Common:top.html.twig' %}

{# Include opening time and contact. #}
{% include 'dftSiteBundle:Common:opening-time-contact.html.twig' %}

<!-- Header -->
<header class="header_bg clearfix">
    <div class="container clearfix">
        {# Include menu logo. #}
        {% include 'dftSiteBundle:Common:menu-logo.html.twig' %}
        {# Include top menu. #}
        {% include 'dftSiteBundle:Common:top-menu.html.twig' %}
    </div>
</header>
<!-- /Header -->

<div class="clear"></div>


<section class="banner_login_bg clearfix">

    <header class="container clearfix">
        <div class="banner_contact">
            <h1>Login</h1>
            <p class="text-white">Home > Login</p>
        </div>

        <div class="clear"></div>
    </header>
</section>

<div class="clear padding40"></div>

<section class="container clearfix">


    <div class="review">
        <div class="forgot_password_box">
            <h2>Forgot Password</h2>
            <h1 class="regular brown bottom_line"></h1>

            <form action="#" id="myForm">
                   Email: <input class="inputText resetPassEmailInput" type="text" id="email" name="name" placeholder="" />
            </form>

            <div class="clear"></div>
            <div class="clear padding20"></div>
            <div class="login">
                <a href="#" class="button">Reset password</a>
            </div>

            <div class="clear"></div>
        </div>
        </div>

</section>
<!--------right area end--------->


<div class="clear padding40"></div>

{# Footer. #}
{% include 'dftSiteBundle:Common:footer.html.twig' %}

{# Bottom. #}
{% include 'dftSiteBundle:Common:bottom.html.twig' %}