<!-- Feature images -->
<div class="clear padding40"></div>
<section class="about clearfix">
    <div class="container clearfix">
        <h1 class="regular brown bottom_line"></h1>
        <div class="clear padding40"></div>
        <h2>About Moonlight</h2>
        <div class="clear padding40"></div>

        <p>
            “The Moonlight” deserves an alluring flair, a new dimension which infuses sophisticated depiction of our growing elite social life at Bangla Town city,UK. This International standard restaurant features a vast open space, which has been decorated with a unique blend of style, class & sophistication.<br />

            The goal of “The Moonlight” is to provide our guests a place where they can sample various tastes of Asian cuisine and cooking methods infused and influenced with our own unique style. Here at “The Moonlight” ,we would like to inspire our guests to be able to enjoy a different and unique taste everyday of the week all under one roof. The blending dishes & cuisines from India, china, Bangladesh and many other countries from the world; the possible combination of flavors are endless.
            <br /><br />
            Our stuff is committed to provide you with an exceptional dining experience every time you walk through our doors as we truly believe what goes around, comes around.

        </p>


    </div>

</section>