<section class="booking">
    <div class="container">
        <div class="postcode">
            <h5>Postcode to Order</h5>
            <input type="text" name="code" placeholder="eg: W6 OSP">
            <input type="submit" value="Check Services" class="post_btn">
        </div>

        <div class="notice">
            <h5>Take Away Service Available</h5>

            <h2>Cheques & Credit Cards Are Not Accepted Under £10.00</h2>
        </div>
    </div>
</section>