<section class="booking">
    <div class="container">
        <div class="postcode">
            <h5>Postcode to Order</h5>
            <input type="text" name="code" placeholder="eg: W6 OSP">
            <input type="submit" value="Check Services" class="post_btn">
        </div>

        <div class="notice">
            <br/><h2>{% if front_end_settings.info_text %}{{ front_end_settings.info_text }}{% endif %}</h2>
        </div>
    </div>
</section>