<script src="/js/jquery-1.9.1.min.js"></script>
<script src="/js/owl.carousel.js"></script>

<script>
    $(document).ready(function() {
        $("#owl-demo").owlCarousel({
            autoPlay: 3000,
            items : 5,
            itemsDesktop : [1199,3],
            itemsDesktopSmall : [979,3]
        });

    });
</script>

</body>
</html>