<section class="container facts clearfix">
    <div class="col_1_2">
        <img src="/images/img_delivery.jpg" alt="" />

    </div>
    <div class="col_1_2">
        <img src="/images/img_discount.jpg" alt="" />
    </div>
    <div class="col_1_2 col_1_2_1">
        <img src="/images/img_drink.jpg" alt="" />
    </div>
</section>