<!-- footer -->
<footer class="footer_bg_bottom clearfix">
    <div class="footer_bottom container">

        <div class="col_2_3">

            <div class="menu clearfix">

            </div>
            <div class="clear padding20"></div>
            <p><a href="/">Home</a> | <a href="/menu/">Menu</a> | <a href="/reviews/">Reviews</a> | <a href="/contact/">Contact Us</a></p>
            <p>
                &copy; 2014 All Rights Reserved. &nbsp; <a href="https://www.behance.net/shaikh-sahab">Design by Shiakh-Sahab</a>
            </p>

        </div>

        <div class="col_1_4 footer_icons">
            <a href="" class="icon_fb"></a>
            <a href="" class="icon_twitter"></a>
            <a href="" class="icon_in"></a>
            <a href="" class="icon_google"></a>
        </div>

        <div class="clear padding20"></div>
    </div>
</footer>
<!-- /footer -->
