<!-- Logo -->
{% if images.logo %}
    <div class="logo">
        <a href="{{ images.logo.link }}"><img src="{{ image_store_url }}{{ images.logo.id }}" alt="" /></a>
    </div>
{% endif %}
<!-- /Logo -->