<!--<section class="main_taglines">
<div class="container main_taglines clearfix">
    {% if restaurant_settings.open_all_day == 1 %}
        <h5>We are available non-stop</h5>
    {% else %}
        <h5>We will be available from {{ restaurant_settings.opening_time }} to {{ restaurant_settings.closing_time }}</h5>
    {% endif %}
    <div class="clear padding10"></div>
    {% if front_end_settings.phone_numbers %}
        <h2>Call Us: {{ front_end_settings.phone_numbers }}</h2>
    {% endif %}
</div>
</section>-->