<section class="main_taglines">
<div class="container main_taglines clearfix">
    <h5>We will be available from 12 Noon to 12 Midnight</h5>
    <div class="clear padding10"></div>
    <h2>Call Us: 02072476606, 73778767</h2>
</div>
</section>