<!--<section class="feature clearfix" id="demo">
    <div class="container clearfix">
        <h1 class="regular brown bottom_line"></h1>
        <div class="clear padding20"></div>
        <h2>DEMANDED DISHES</h2>

        <div class="clear padding40"></div>

        <div id="owl-demo" class="owl-carousel">
            <div class="feature_small item">
                <img src="images/feature_small_img1.jpg" />
                <p><b>Aenean sollicitudin</b>
                    <span>£10.00</span>
                </p>
            </div>
            <div class="feature_small item">
                <img src="images/feature_small_img2.jpg" />
                <p><b>Aenean sollicitudin</b>
                    <span>£12.00</span>
                </p>
            </div>
            <div class="feature_small item">
                <img src="images/feature_small_img3.jpg" />
                <p><b>Aenean sollicitudin</b><br  />
                    <span>£11.25</span>
                </p>
            </div>
            <div class="feature_small item">
                <img src="images/feature_small_img4.jpg" />
                <p><b>Aenean sollicitudin</b><br  />
                    <span>£15.75</span>
                </p>
            </div>
            <div class="feature_small item">
                <img src="images/feature_small_img5.jpg" />
                <p><b>Aenean sollicitudin</b> <br  />
                    <span>£5.00</span>
                </p>
            </div>
            <div class="feature_small item">
                <img src="images/feature_small_img1.jpg" />
                <p><b>Aenean sollicitudin</b>
                    <span>£10.00</span>
                </p>
            </div>
            <div class="feature_small item">
                <img src="images/feature_small_img2.jpg" />
                <p><b>Aenean sollicitudin</b>
                    <span>£12.00</span>
                </p>
            </div>
            <div class="feature_small item">
                <img src="images/feature_small_img3.jpg" />
                <p><b>Aenean sollicitudin</b><br  />
                    <span>£11.25</span>
                </p>
            </div>
            <div class="feature_small item">
                <img src="images/feature_small_img4.jpg" />
                <p><b>Aenean sollicitudin</b><br  />
                    <span>£15.75</span>
                </p>
            </div>
            <div class="feature_small item">
                <img src="images/feature_small_img5.jpg" />
                <p><b>Aenean sollicitudin</b> <br  />
                    <span>£5.00</span>
                </p>
            </div>
        </div>
    </div>
</section>-->