<!-- Master Nav -->
<div class="nav_icons">
    <ul>
        <li><a href="/cart/"><img src="/images/icon_cart.png" alt="">{{ (shopping_cart_item_count > 0 ? shopping_cart_item_count ~ "&nbsp;items in cart"  : "Shopping cart is empty.")|raw }}</a></li>
        {% if customer_data %}
            <li><a href="/logout/"><img src="/images/icon_login.png" alt="" style="margin-right: 10px;">Logout: {{ customer_data.name }}</a></li>
        {% else %}
            <li><a href="/login/"><img src="/images/icon_login.png" alt="" style="margin-right: 10px;">Login / Signup</a></li>
        {% endif %}
    </ul>
</div>
<div class="nav_seprator"></div>

<nav class="main-menu full_screen">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/menu/">Menu</a></li>
        {% if customer_data %}
            <li><a href="/orders/">Orders</a></li>
            <li><a href="/account/">Account</a></li>
        {% endif %}
        <li><a href="/contact/">Contact Us</a></li>
    </ul>
</nav>
<!-- /Master Nav -->