<!-- Master Nav -->
<div class="nav_icons">
    <ul>
        <li><a href="/cart/"><img src="/images/icon_cart.png" alt="">2 items in cart</a></li>
        <li><a href="/login/"><img src="/images/icon_login.png" alt="">Login / Signup</a></li>
    </ul>
</div>
<div class="nav_seprator"></div>

<nav class="main-menu full_screen">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/menu/">Menu</a></li>
        <li><a href="/contact/">Contact Us</a></li>
    </ul>
</nav>
<!-- /Master Nav -->