<!-- Master Nav -->
<div class="nav_icons">
    <ul>
        <li><a href=""><img src="images/icon_cart.png" alt="">2 items in cart</a></li>
        <li><a href=""><img src="images/icon_login.png" alt="">Login / Signup</a></li>
    </ul>
</div>
<div class="nav_seprator"></div>

<nav class="main-menu full_screen">
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="menu.html">Menu</a></li>
        <li><a href="reviews.html">Reviews</a></li>
        <li><a href="contact.html">Contact Us</a></li>
    </ul>
</nav>
<!-- /Master Nav -->