{% include 'dftSiteBundle:Common:top.html.twig' %}

{# Include opening time and contact. #}
{% include 'dftSiteBundle:Common:opening-time-contact.html.twig' %}

<!-- Header -->
<header class="header_bg clearfix">
    <div class="top-menu clearfix">
        {# Include menu logo. #}
        {% include 'dftSiteBundle:Common:menu-logo.html.twig' %}
        {# Include top menu. #}
        {% include 'dftSiteBundle:Common:top-menu.html.twig' %}
    </div>
</header>
<!-- /Header -->

{# Include banner. #}
{% include 'dftSiteBundle:Common:banner.html.twig' %}

<div class="clear"></div>

{# Ordering info. #}
{% include 'dftSiteBundle:Common:booking.html.twig' %}

{# Facts. #}
{% include 'dftSiteBundle:Common:facts.html.twig' %}

{# Popular dishes. #}
{% include 'dftSiteBundle:Common:popular.html.twig' %}

{# About. #}
{% include 'dftSiteBundle:Common:about.html.twig' %}

<div class="clear padding40"></div>

{# Footer. #}
{% include 'dftSiteBundle:Common:footer.html.twig' %}

{# Bottom. #}
{% include 'dftSiteBundle:Common:bottom.html.twig' %}