{% include 'dftSiteBundle:Common:top.html.twig' %}
<section class="main_taglines">

    <div class="container main_taglines clearfix">

        <h5>We will be available from 12 Noon to 12 Midnight</h5>
        <div class="clear padding10"></div>
        <h2>Call Us: 02072476606, 73778767</h2>

    </div>

</section>
<!-- Header -->
<header class="header_bg clearfix">
    <div class="container clearfix">

        <!-- Logo -->
        <div class="logo">
            <a href="index.html"><img src="images/logo.png" alt="" /></a>

        </div>
        <!-- /Logo -->

        <!-- Master Nav -->
        <div class="nav_icons">
            <ul>
                <li><a href=""><img src="images/icon_cart.png" alt="">2 items in cart</a></li>
                <li><a href=""><img src="images/icon_login.png" alt="">  Login / Signup</a></li>
            </ul>
        </div>
        <div class="nav_seprator"></div>

        <nav class="main-menu full_screen">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="menu.html">Menu</a></li>
                <li><a href="reviews.html">Reviews</a></li>
                <li><a href="contact.html">Cntact Us</a></li>
            </ul>
        </nav>

        <!-- /Master Nav -->
    </div>

    <nav class="main-menu small_screen">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="menu.html">Menu</a></li>
            <li><a href="reviews.html">Reviews</a></li>
            <li><a href="contact.html">Cntact Us</a></li>
        </ul>
    </nav>

</header>
<!-- /Header -->


<ul class="rslides" id="slider1">
    <li><img src="images/banner1.jpg" alt=""></li>
    <li><img src="images/banner2.jpg" alt=""></li>
</ul>

<div class="clear"></div>

<section class="booking">
    <div class="container">
        <div class="postcode">
            <h5>Postcode to Order</h5>
            <input type="text" name="code" placeholder="eg: W6 OSP">
            <input type="submit" value="Check Services" class="post_btn">
        </div>

        <div class="notice">
            <h5>Take Away Service Available</h5>

            <h2>Cheques & Credit Cards Are Not Accepted Under £10.00</h2>
        </div>
    </div>
</section>


<section class="container facts clearfix">

    <div class="col_1_2">
        <img src="images/img_delivery.jpg" alt="" />

    </div>

    <div class="col_1_2">
        <img src="images/img_discount.jpg" alt="" />
    </div>

    <div class="col_1_2 col_1_2_1">
        <img src="images/img_drink.jpg" alt="" />
    </div>


</section>



<section class="feature clearfix" id="demo">
    <div class="container clearfix">
        <h1 class="regular brown bottom_line"></h1>
        <div class="clear padding20"></div>
        <h2>DEMANDED DISHED</h2>

        <div class="clear padding40"></div>

        <div id="owl-demo" class="owl-carousel">
            <div class="feature_small item">
                <img src="images/feature_small_img1.jpg" />
                <p><b>Aenean sollicitudin</b>
                    <span>£10.00</span>
                </p>
            </div>
            <div class="feature_small item">
                <img src="images/feature_small_img2.jpg" />
                <p><b>Aenean sollicitudin</b>
                    <span>£12.00</span>
                </p>
            </div>
            <div class="feature_small item">
                <img src="images/feature_small_img3.jpg" />
                <p><b>Aenean sollicitudin</b><br  />
                    <span>£11.25</span>
                </p>
            </div>
            <div class="feature_small item">
                <img src="images/feature_small_img4.jpg" />
                <p><b>Aenean sollicitudin</b><br  />
                    <span>£15.75</span>
                </p>
            </div>
            <div class="feature_small item">
                <img src="images/feature_small_img5.jpg" />
                <p><b>Aenean sollicitudin</b> <br  />
                    <span>£5.00</span>
                </p>
            </div>
            <div class="feature_small item">
                <img src="images/feature_small_img1.jpg" />
                <p><b>Aenean sollicitudin</b>
                    <span>£10.00</span>
                </p>
            </div>
            <div class="feature_small item">
                <img src="images/feature_small_img2.jpg" />
                <p><b>Aenean sollicitudin</b>
                    <span>£12.00</span>
                </p>
            </div>
            <div class="feature_small item">
                <img src="images/feature_small_img3.jpg" />
                <p><b>Aenean sollicitudin</b><br  />
                    <span>£11.25</span>
                </p>
            </div>
            <div class="feature_small item">
                <img src="images/feature_small_img4.jpg" />
                <p><b>Aenean sollicitudin</b><br  />
                    <span>£15.75</span>
                </p>
            </div>
            <div class="feature_small item">
                <img src="images/feature_small_img5.jpg" />
                <p><b>Aenean sollicitudin</b> <br  />
                    <span>£5.00</span>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Feature images -->
<div class="clear padding40"></div>
<section class="about clearfix">
    <div class="container clearfix">
        <h1 class="regular brown bottom_line"></h1>
        <div class="clear padding40"></div>
        <h2>About Moonlight</h2>
        <div class="clear padding40"></div>

        <p>
            “The Moonlight” deserves an alluring flair, a new dimension which infuses sophisticated depiction of our growing elite social life at Bangla Town city,UK. This International standard restaurant features a vast open space, which has been decorated with a unique blend of style, class & sophistication.<br />

            The goal of “The Moonlight” is to provide our guests a place where they can sample various tastes of Asian cuisine and cooking methods infused and influenced with our own unique style. Here at “The Moonlight” ,we would like to inspire our guests to be able to enjoy a different and unique taste everyday of the week all under one roof. The blending dishes & cuisines from India, china, Bangladesh and many other countries from the world; the possible combination of flavors are endless.
            <br /><br />
            Our stuff is committed to provide you with an exceptional dining experience every time you walk through our doors as we truly believe what goes around, comes around.

        </p>


    </div>

</section>

<div class="clear padding40"></div>

<!-- footer -->
<footer class="footer_bg_bottom clearfix">
    <div class="footer_bottom container">

        <div class="col_2_3">

            <div class="menu clearfix">

            </div>
            <div class="clear padding20"></div>
            <p><a href="index.html">Home</a> | <a href="menu.html">Menu</a> | <a href="reviews.html">Reviews</a> | <a href="contact.html">Contact Us</a></p>
            <p>
                &copy; 2014 All Rights Reserved. &nbsp; <a href="https://www.behance.net/shaikh-sahab">Design by Shiakh-Sahab</a>
            </p>

        </div>

        <div class="col_1_4 footer_icons">
            <a href="" class="icon_fb"></a>
            <a href="" class="icon_twitter"></a>
            <a href="" class="icon_in"></a>
            <a href="" class="icon_google"></a>
        </div>

        <div class="clear padding20"></div>
    </div>
</footer>
<!-- /footer -->

<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/owl.carousel.js"></script>

<script>
    $(document).ready(function() {
        $("#owl-demo").owlCarousel({
            autoPlay: 3000,
            items : 5,
            itemsDesktop : [1199,3],
            itemsDesktopSmall : [979,3]
        });

    });
</script>
{% include 'dftSiteBundle:Common:bottom.html.twig' %}