{% include 'dftSiteBundle:Common:top.html.twig' %}

{# Include opening time and contact. #}
{% include 'dftSiteBundle:Common:opening-time-contact.html.twig' %}

<!-- Header -->
<header class="header_bg clearfix">
    <div class="container clearfix">
        {# Include menu logo. #}
        {% include 'dftSiteBundle:Common:menu-logo.html.twig' %}
        {# Include top menu. #}
        {% include 'dftSiteBundle:Common:top-menu.html.twig' %}
    </div>
</header>
<!-- /Header -->

<div class="clear"></div>


<section class="banner_login_bg clearfix">

    <header class="container clearfix">
        <div class="banner_contact">
            <h1>Login</h1>
            <p class="text-white">Home > Login</p>
        </div>

        <div class="clear"></div>
    </header>
</section>

<div class="clear padding40"></div>

<section class="container clearfix">


    <div class="review">
        <div class="login_box">
            <h2>Login Your Account</h2>
            <h1 class="regular brown bottom_line"></h1>

            <form action="#" id="myForm">
                <ul>
                    <li>User Name:</li>
                    <li class="field"><input class="inputText loginInput" type="text" id="name" name="name" placeholder="" /></li>
                    <li>Password:</li>
                    <li class="field"><input class="inputText loginInput" type="password" id="pass" name="name" placeholder="" /></li>

                </ul>
            </form>

            <div class="remember">
                <input type="checkbox"> Remember &nbsp; <span><a href="#">Forgot Password!</a></span>
            </div>

            <div class="clear"></div>
            <div class="clear padding20"></div>
            <div class="login">
                <a href="#" class="button">Login</a>
            </div>

            <div class="clear"></div>
        </div>


        <div class="login_box signup_box">
            <h2>Create Your Account</h2>
            <h1 class="regular brown bottom_line"></h1>

            <form action="#" id="myForm">
                <ul>
                    <li>User Name:</li>
                    <li class="field"><input class="inputText loginInput" type="text" id="name" name="name" placeholder="" /></li>
                    <li>Email:</li>
                    <li class="field"><input class="inputText loginInput" type="text" id="name" name="email" placeholder="" /></li>
                    <li>Password:</li>
                    <li class="field"><input class="inputText loginInput" type="password" id="pass" name="pass" placeholder="" /></li>
                    <li class="confirm_pass">Confirm Password:</li>
                    <li class="field"><input class="inputText loginInput" type="password" id="pass" name="pass" placeholder="" /></li>

                    <!--<li>Contact:</li>
                 <li class="field"><input class="inputText" type="password" id="pass" name="contact" placeholder="" /></li>-->

                </ul>
            </form>

            <div class="clear padding20"></div>
            <div class="login">
                <a href="#" class="button signupButton">Signup Now!</a>
            </div>

            <div class="clear"></div>
        </div>

</section>
<!--------right area end--------->


<div class="clear padding40"></div>

{# Footer. #}
{% include 'dftSiteBundle:Common:footer.html.twig' %}

{# Bottom. #}
{% include 'dftSiteBundle:Common:bottom.html.twig' %}