{% include 'dftSiteBundle:Common:top.html.twig' %}

{# Include opening time and contact. #}
{% include 'dftSiteBundle:Common:opening-time-contact.html.twig' %}

<!-- Header -->
<header class="header_bg clearfix">
    <div class="top-menu clearfix">
        {# Include menu logo. #}
        {% include 'dftSiteBundle:Common:menu-logo.html.twig' %}
        {# Include top menu. #}
        {% include 'dftSiteBundle:Common:top-menu.html.twig' %}
    </div>
</header>
<!-- /Header -->

<div class="clear"></div>


<section class="banner_login_bg clearfix">

    <header class="container clearfix">
        <div class="banner_contact">
            <h1>Login</h1>
            <p class="text-white">Home > Login</p>
        </div>

        <div class="clear"></div>
    </header>
</section>

<div class="clear padding40"></div>

<section class="container clearfix">


    <div class="review">
        <div class="login_box">
            <h2>Existing Account</h2>
            <h1 class="regular brown bottom_line" style="margin-bottom: 10px;"></h1>
            <form action="" method="POST">
                <table>
                    <tr>
                        <td style="padding-bottom: 10px;vertical-align: middle; padding-right: 10px; font-size: 14px; text-align: center;">
                            {% if error_message %}
                                <b>{{ error_message }}</b>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle; padding-right: 10px; font-size: 14px; text-align: right;">
                            Email:
                            <input class="inputText" style="font-size: 14px; width: 300px;" type="text" id="email" name="email" placeholder="" />
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle; padding-right: 10px; font-size: 14px; text-align: right;">
                            Password:
                            <input class="inputText" style="font-size: 14px; width: 300px;" type="password" id="password" name="password" placeholder="" />
                        </td>
                    </tr>
                </table>

                <div class="clear"></div>
                <div class="clear padding20"></div>
                <hr style="width: 400px;">

                <div class="login">
                    <input class="inputbutton" style="width: 240px;" type="submit" value="Login" />
                </div>

            </form>
            <div class="clear"></div>
        </div>


        <div class="login_box signup_box">
            <h2>Create New Account</h2>
            <h1 class="regular brown bottom_line"></h1>
            {% if registration_error_message %}
                <div style="text-align: center; font-weight: bold;">{{ registration_error_message }}</div>
            {% endif %}

            <form action="" id="myForm" method="POST">
                <ul>
                    <li>Name:</li>
                    <li class="field"><input class="inputText" type="text" id="name" name="name" placeholder="" /></li>
                    <li>Email:</li>
                    <li class="field"><input class="inputText" type="text" id="email" name="email" placeholder="" /></li>
                    <li>Post code:</li>
                    <li class="field"><input class="inputText" type="text" id="post_code" name="post_code" placeholder="" /></li>
                    <li>Address:</li>
                    <li class="field"><input class="inputText" type="text" id="address" name="address" placeholder="" /></li>
                    <li>Phone:</li>
                    <li class="field"><input class="inputText" type="text" id="phone_number" name="phone_number" placeholder="" /></li>
                    <li>Password:</li>
                    <li class="field"><input class="inputText" type="password" id="password" name="password" placeholder="" /></li>
                    <li class="confirm_pass">Confirm:</li>
                    <li class="field"><input class="inputText" type="password" id="password" name="confirm_password" placeholder="" /></li>

                    <!--<li>Contact:</li>
                 <li class="field"><input class="inputText" type="password" id="pass" name="contact" placeholder="" /></li>-->

                </ul>

                <div class="clear padding20"></div>
                <div class="login">
                    <input type="hidden" name="action" value="register" />
                    <input class="inputbutton" style="width: 240px;" type="submit" value="Sign up" />
                </div>
            </form>

            <div class="clear"></div>
        </div>
</div>
</section>
<!--------right area end--------->


<div class="clear padding40"></div>

{# Footer. #}
{% include 'dftSiteBundle:Common:footer.html.twig' %}

{# Bottom. #}
{% include 'dftSiteBundle:Common:bottom.html.twig' %}