{% include 'dftSiteBundle:Common:top.html.twig' %}

{# Include opening time and contact. #}
{% include 'dftSiteBundle:Common:opening-time-contact.html.twig' %}

<!-- Header -->
<header class="header_bg clearfix">
    <div class="container clearfix">
        {# Include menu logo. #}
        {% include 'dftSiteBundle:Common:menu-logo.html.twig' %}
        {# Include top menu. #}
        {% include 'dftSiteBundle:Common:top-menu.html.twig' %}
    </div>
</header>
<!-- /Header -->

<div class="clear"></div>


<section class="banner_about_bg clearfix">

    <header class="container clearfix">
        <div class="banner_about">
            <h1>Menu</h1>
            <p class="text-white">Home > Menu</p>
        </div>

        <div class="clear"></div>
    </header>
</section>

<div class="clear padding40"></div>

<section class="container clearfix">
    <div class=" menu_list small_screen">
        <select name="menu" class="hidden_list">
            <option value="appetisers"><a href="">Appetisers</a></option>
            <option value="biryani"><a href="">Biryani</a></option>
            <option value="ovan"><a href="">From The Clay Ovan</a></option>
            <option value="desi"><a href="">Desi Food</a></option>
            <option value="chiness"><a href="">Chiness</a></option>
            <option value="italians"><a href="">Italians</a></option>
        </select>
    </div>
</section>
<section class="container clearfix">

    <div class="menu_list full_screen">
        <div class="clearfix">
            <!--------left area--------->
            <h2>Our Menu</h2>
            <h1 class="regular brown bottom_line"></h1>
            <div class="menu_cat">
                <ul>
                    <li><a href="">Appetisers</a></li>
                    <li><a href="">Biryani</a></li>
                    <li><a href="">From The Clay Ovan</a></li>
                    <li><a href="">Desi Food</a></li>
                    <li><a href="">Chiness</a></li>
                    <li><a href="">Italians</a></li>
                </ul>
            </div>

        </div>
    </div>



    <div class="menu_detail">

        <div class="clearfix">
            <!--------left area--------->
            <h2>Main Courses</h2>
            <h1 class="regular brown bottom_line"></h1>

        </div>
        <div class="menu-h4-left"><h4>rosted apple tart</h4></div><div class="menu-h4-right"><h3>£12,00</h3><a href=""><img src="/images/icon_cart_in.png" /></a></div>

        <div class="clear padding10"></div>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. </p>

        <div class="clear padding40"></div>

        <div class="menu-h4-left"><h4>Cheese plate</h4></div><div class="menu-h4-right"><h3>£12,00</h3><a href=""><img src="/images/icon_cart_in.png" /></a></div>

        <div class="clear padding10"></div>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. </p>

        <div class="clear padding40"></div>

        <div class="menu-h4-left"><h4>smoked ,bacon wrapped prawns</h4></div><div class="menu-h4-right"><h3>£12,00</h3><a href=""><img src="/images/icon_cart_in.png" /></a></div>

        <div class="clear padding10"></div>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. </p>


        <div class="clear padding40"></div>

        <div class="menu-h4-left"><h4>greek lamb sliders</h4></div><div class="menu-h4-right"><h3>£12,00</h3><a href=""><img src="/images/icon_cart_in.png" /></a></div>

        <div class="clear padding10"></div>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. </p>


        <div class="clear padding40"></div>

        <div class="menu-h4-left"><h4>rtichoke rosemary salmon</h4></div><div class="menu-h4-right"><h3>£12,00</h3><a href=""><img src="/images/icon_cart_in.png" /></a></div>

        <div class="clear padding10"></div>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. </p>


        <div class="clear padding40"></div>

        <div class="menu-h4-left"><h4>fresh fettuccini garlic alfredo</h4></div><div class="menu-h4-right"><h3>£12,00</h3><a href=""><img src="/images/icon_cart_in.png" /></a></div>

        <div class="clear padding10"></div>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. </p>


        <div class="clear padding40"></div>

        <div class="menu-h4-left"><h4>fresh fish of the night</h4></div><div class="menu-h4-right"><h3>£12,00</h3><a href=""><img src="/images/icon_cart_in.png" /></a></div>

        <div class="clear padding10"></div>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. </p>

        <div class="clear padding40"></div>

    </div>

    <div class="cart_box cart_hide">
        <div>
            <h4>Your Cart</h4>
            <h1 class="regular brown bottom_line"></h1>
        </div>
        <div class="clear"></div>

        <div class="box_heading">
            <ul>
                <li>Dish Name</li>
                <li>Qty.</li>
                <li>Price</li>
                <li></li>
            </ul>

        </div>

        <div class="clear"></div>

        <div class="dishes">
            <ul>
                <li>Biryani</li>
                <li>2</li>
                <li>£12,00</li>
                <li><a href=""><img src="/images/pricing_remove.png" alt="" /></a></li>
            </ul>

            <ul>
                <li>Biryani</li>
                <li>2</li>
                <li>£12,00</li>
                <li><a href=""><img src="/images/pricing_remove.png" alt="" /></a></li>
            </ul>

            <ul>
                <li>Biryani</li>
                <li>2</li>
                <li>£12,00</li>
                <li><a href=""><img src="/images/pricing_remove.png" alt="" /></a></li>
            </ul>

            <ul>
                <li>Biryani</li>
                <li>2</li>
                <li>£12,00</li>
                <li><a href=""><img src="/images/pricing_remove.png" alt="" /></a></li>
            </ul>

        </div>

        <div class="clear"></div>

        <div class="order_tbn"><a href="">ORDER NOW</a></div>


    </div>

</section>
<!--------right area end--------->


<div class="clear padding40"></div>

{# Footer. #}
{% include 'dftSiteBundle:Common:footer.html.twig' %}

{# Bottom. #}
{% include 'dftSiteBundle:Common:bottom.html.twig' %}