{% include 'dftSiteBundle:Common:top.html.twig' %}

{# Include opening time and contact. #}
{% include 'dftSiteBundle:Common:opening-time-contact.html.twig' %}

<!-- Header -->
<header class="header_bg clearfix">
    <div class="container clearfix">
        {# Include menu logo. #}
        {% include 'dftSiteBundle:Common:menu-logo.html.twig' %}
        {# Include top menu. #}
        {% include 'dftSiteBundle:Common:top-menu.html.twig' %}
    </div>
</header>
<!-- /Header -->

<div class="clear"></div>


<section class="banner_about_bg clearfix">

    <header class="container clearfix">
        <div class="banner_about">
            <h1>Your Cart</h1>
            <p class="text-white">Home > Cart</p>
        </div>

        <div class="clear"></div>
    </header>
</section>

<div class="clear padding40"></div>


<section class="container clearfix">


    <div class="cart_box2">
        <div>
            <h4>Your Cart</h4>
            <h1 class="regular brown bottom_line"></h1>
        </div>
        <div class="clear"></div>

        <div class="box_heading2">
            <ul>
                <li>Dish Name</li>
                <li>Qty.</li>
                <li>Price</li>
                <li>Remove</li>
            </ul>

        </div>

        <div class="clear"></div>

        <div class="dishes2">
            <ul>
                <li>Biryani</li>
                <li>2</li>
                <li>£12,00</li>
                <li><a href=""><img src="/images/pricing_remove.png" alt="" /></a></li>
            </ul>

            <ul>
                <li>Biryani</li>
                <li>2</li>
                <li>£12,00</li>
                <li><a href=""><img src="/images/pricing_remove.png" alt="" /></a></li>
            </ul>

            <ul>
                <li>Biryani</li>
                <li>2</li>
                <li>£12,00</li>
                <li><a href=""><img src="/images/pricing_remove.png" alt="" /></a></li>
            </ul>

            <ul>
                <li>Biryani</li>
                <li>2</li>
                <li>£12,00</li>
                <li><a href=""><img src="/images/pricing_remove.png" alt="" /></a></li>
            </ul>

        </div>

        <div class="clear"></div>

        <div class="order_tbn"><a href="">ORDER NOW</a></div>


    </div>

</section>
<!--------right area end--------->

<div class="clear padding40"></div>

{# Footer. #}
{% include 'dftSiteBundle:Common:footer.html.twig' %}

{# Bottom. #}
{% include 'dftSiteBundle:Common:bottom.html.twig' %}